body {
    font-family: 'Open Sans', Helvetica, sans-serif;
    counter-reset: count-products;
}

.clearfix::after {
    content: '';
    display: block;
    clear: both;
}

.wrapper {
    width: 100%;
    max-width: 1142px;
    padding-left: 15px;
    padding-right: 15px;
    margin: auto;
    box-sizing: border-box;
}

::selection {
    background-color: #000;
    color: #fff;   
}

.h2 {
    margin-bottom: 80px;
    color: #515151;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
    text-align: center;
    text-transform: uppercase;
}

.h2::after {
    content: '';
    display: block;
    width: 165px;
    height: 8px;
    margin: 25px auto 0;
    background-color: #1abc9c;
}

.sc {
    padding-bottom: 75px;
}

/* .container {

} */

.header {
    padding-top: 77px;
    padding-bottom: 65px;
}

.header__logo {
    float: left;
    color: #555252;
    font-family: 'Roboto', Helvetica, sans-serif;
    font-size: 30px;
    line-height: 1;
    text-transform: uppercase;
}

.header__logo::first-letter {
    color: #1abc9c;
    font-weight: 700;
}

.header__nav {
    float: right;
}

.header__nav-list {
    list-style: none;
    text-align: center;
    font-size: 0;
}

.header__nav-item {
    float: left;
    margin-right: 35px;
    font-size: 16px;
}

.header__nav-item:last-child {
    margin-right: 0;
}

.header__nav-link {
    color: #0f0101;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #1abc9c;
}

.products__item {
    counter-increment: count-products;
    float: left;
    width: 255px;
    margin-right: 30px;
    margin-bottom: 30px;
    cursor: pointer;
}

.products__item:hover .products__desc {
    background-color: #1abc9c;
}

.products__item:nth-child(4n) {
    margin-right: 0;
}

.products__item:nth-last-child(-n + 4) {
    margin-bottom: 0;
}

.products__cover {
    display: block;
    width: 100%;
}

.products__desc {
    background-color:#323232;
    color: #fff;
    font-size: 18px;
    line-height: 41px;
    font-weight: 700;
    text-transform: uppercase;
}

.products__name {
    float: left;
    padding-left: 15px;
}

.products__name::before {
    content: counter(count-products);
    margin-right: 5px;
}

.products__price {
    float: right;
    padding-left: 15px;
    padding-right: 15px;
    background-color: rgba(255,255,255,0.4);
}

.news__item {
    float: left;
    width: 350px;
    margin-right: 30px;
    margin-bottom: 30px;
}

.news__item:nth-child(3n) {
    margin-right: 0;
}

.news__item:nth-last-child(-n + 3) {
    margin-bottom: 0;
}

.news__cover {
    display: block;
    width: 100%;
    margin-bottom: 16px;
    transition: all 0.35s;
}

.news__title {
    color: #555252;
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 26px;
    font-weight: 500;
}

.news__title::after {
    content: '';
    display: block;
    width: 137px;
    height: 4px;
    margin-top: 8px;
    background-color: #1abc9c;
}

.news__text {
    margin-bottom: 14px;
    font-size: 14px;
    line-height: 26px;
}

.news__link {
    display: inline-block;
    padding: 20px 43px 18px;
    border-radius: 3px;
    background-color: #4ec6ab;
    color: #fff;
}

.news__link:hover {
    background-color: #000;
}