html {
box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    width: 900px;
    margin: 0 auto;
}

.header {
    padding-top: 77px;
    padding-bottom: 65px;
}

.header__nav-list {
    list-style: none;
    text-align: center;
    font-size: 0;
}

.header__nav-item {
    display: inline-block;
    padding: 5px 40px;
    font-size: 16px;
}

.header__nav-link {
    color: #626262;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
}

.header__nav-link:hover {
    color: #03a9f4;
}

.blogposts {
    font-size: 0;
    text-align: center;
}

.blogpost {
    display: inline-block;
    width: 100%;
    max-width: 450px;
    margin-bottom: 74px;
    padding: 30px;
    box-sizing: border-box;
    color: #626262;
    font-size: 16px;
    text-align: left;
    vertical-align: top;
}


.blogpost__cover {
    width: 100%;
    padding-bottom: 06.904%;
    background-image: url('..C:\Users\Elisey\Desktop\Go It\img/img1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.blogpost__label {
    margin-bottom: 32px;
    color: #b4ad9e;
    font-size: 14px;
    line-height: 1;
    text-transform: uppercase;
}

.blogpost__title {
    margin-bottom: 23px;
    font-size: 30px;
    line-height: 1;
}

.blogpost__desc {
    margin-bottom: 34px;
    font-size: 14px;
    line-height: 1.6;
}

.btn-wrap {
    text-align: center;
    padding: 10px 0 30px;
}

.btn{
    display: inline-block;
    padding: 22px 34px; 
    color: #626262;
    font-size: 20px;
    font-family: serif;
}

.btn:hover{
    color: #03a9f4;
}